@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @SharedResource.LockedOut;
}

<hgroup>
    <h1 class="text-danger">@SharedResource.LockedOut</h1>
    <h2 class="text-danger">@SharedResource.AccountLockedOut</h2>
</hgroup>
