@using ExpenseManager.Resources.UsersAdminResources
@model ExpenseManager.Database.UserIdentity

@{
    ViewBag.Title = SharedResource.Delete;
}


<h3>@String.Format(UsersAdminResource.SureOfDelete, @Model.UserName)</h3>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@SharedResource.Delete class="btn btn-success" /> 
            @Html.ActionLink(SharedResource.BackToList, "Index",null, new {@class="btn btn-danger"})
        </div>
    }
</div>
