@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Delete role?";
}

<h3>Are you sure you want to delete "@Html.DisplayFor(model => model.Name)" Role? </h3>
<p>Deleting this Role will remove all users from this role. It will not delete the users.</p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-success" /> 
            @Html.ActionLink("Cancel", "Index",null,new {@class="btn btn-danger"})
        </div>
    }
