@using ExpenseManager.Resources.BudgetResources
@model ExpenseManager.Web.Models.BudgetAccessRight.ShowBudgetAccessRightModel

@{
    ViewBag.Title = BudgetAccessRightResource.DeleteBudgetAccessRight;
}

<h3>@String.Format(BudgetAccessRightResource.SureOfDelete, Model.Permission, Model.AssignedUserName)</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.AssignedUserName)

    <div class="form-actions no-color">
        <input type="submit" value=@SharedResource.Delete class="btn btn-success" />
        @Html.ActionLink(SharedResource.BackToList, "Index", new { id = Model.BudgetId }, new { @class = "btn btn-danger" })
    </div>
}