
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Choose type of transaction";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group" id="ExpenseIncome">
            <div class="col-md-2 col-xs-0"></div>
            <div class="col-md-4 col-xs-6">
                @Html.ActionLink("Income", "Create", null, new {expense = false, ViewBag.wallet}, new {@class = "income"})

            </div>
            <div class="col-md-4 col-xs-6">
                @Html.ActionLink("Expense", "Create", null, new {expense = true, ViewBag.wallet}, new {@class = "expense"}) @*btn-lg btn-danger*@
            </div>
            <div class="col-md-2 col-xs-0"></div>
        </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.ActionLink("Back", "Index", new { wallet = ViewBag.walletId}, new {@class = "btn btn-default"})
        </div>
    </div>
  </div>
}
