
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Income/Expense transaction";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.ActionLink("Income", "Create", null, new { expense = false }, new { @class = "btn-lg btn-success" })
                @Html.ActionLink("Expense", "Create", null, new { expense = true }, new { @class = "btn-lg btn-danger" })
            </div>
        </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.ActionLink("Cancel", "Index", null, new {@class = "btn btn-danger"})
        </div>
    </div>
  </div>
}
