@using ExpenseManager.Resources.AccountResources
@{
    ViewBag.Title = AccountResource.LoginFailure;
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">@AccountResource.UnsuccessfulLogin</h3>
</hgroup>
